:root{
--logo-color:#000;
--accent-color:#2196F3;
--text-color:#212121;
--additional-text:#757575;
--main-color:#FFF;
--team-background:#F5F4FA;
--footer-background:#2F303A;
--border: #EEE;
--footer-number:rgba(255, 255, 255, 0.60);;}
    
body{font-family: Roboto}

.container{
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
outline: 1px solid red;
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-box{
display: flex;
align-items: center;
}

.header-logo{
color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}
.header-span{
color: var(--logo-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}






.nav-list{
display: flex;
gap: 50px;
margin-right: 344px;
}
.nav-link:hover{
color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.nav-link{
color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}



.header-list{
display: flex;
gap: 50px;
}
.header-link:hover{
color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;}
.header-link{
color: var(--additional-text);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}





.btn{
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}
.btn-list{
    display: flex;

    margin-bottom: 50px;
 justify-content: center;
 gap: 8px;
}
.btn-button{
padding: 6px 23px;
color:var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.6;
letter-spacing: 0.48px;
border-radius: 4px;
border: none;
}
.btn-button:hover{
padding: 6px 23px;
background-color:var(--accent-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.6;
letter-spacing: 0.48px;

}



.table-list{
display: flex;
flex-wrap: wrap;
gap: 30px;


}
.table-item{
    outline: 1px solid var(--border);
    flex-basis: calc((100% - 60px) / 3);
}
.table-img{
width: 100%;

}
.table-box{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
.table-title{
color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;
margin-bottom: 4px;
}
.table-text{
color: var(--additional-text);
font-size: 16px;
font-weight: 400;
line-height: 1.85;
letter-spacing: 0.48px;
}







.footer{
padding-top: 60px;
padding-bottom: 60px;
background-color: var(--footer-background);
}
.footer-logo{
color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;

display: inline-block;
}
.logo-span{
color: var(--main-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-bottom: 20px;
display: inline-block;
}
.footer-address{
    font-style: normal;
  }
.footer-link{
color: var(--main-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
margin-bottom: 9px;
display: inline-block;
}


.footer-number{
color: var(--footer-number);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
display: inline-block;
}
.footer-item{
    margin-bottom: 9px;
  }
  .footer-item:last-child{
    margin-bottom: 0px;
  }