:root {
  --logo-color: #000;
  --accent-color: #2196f3;
  --text-color: #212121;
  --additional-text: #757575;
  --main-color: #fff;
  --team-background: #f5f4fa;
  --footer-background: #2f303a;
  --border: #EEE;
  --footer-number: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto;
}
.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
  
}
.header{
  padding-top: 24px;
  padding-bottom: 25px;

}
.header-box{
  display: flex;
  align-items: center;
}
.header-logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
.header-span {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;

}
.nav-list{
display: flex;
gap: 50px;
margin-right: 344px;
}
.nav-link:hover {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.nav-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-list{
display: flex;
gap: 50px;
}
.header-link:hover {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link {
  color: var(--additional-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}








.hero {
  background-color: var(--footer-background);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  color: var(--main-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-button {
border-radius: 4px;
background: var(--accent-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: var(--main-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.96px;
padding: 10px 32px;




}
.management{
  padding-top: 94px;
  
}
.management-list{
  display: flex;
  gap: 30px;
}
.management-item::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/antenna.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item:nth-child(2)::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/clock.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item:nth-child(3)::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/diagram.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item:nth-child(4)::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/astronaut.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item{
  flex-basis: calc((100% - 90px) / 4);
}
.management-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.management-text {
  color: var(--additional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}







.work{
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.work-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work-list{
  display: flex;
  gap: 30px;
}










.team{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background);
}

.team-subject {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-list{
  display: flex;
  gap: 30px;
}
.team-img{
width: 270px;
height: 260px;

}
.div-item{
padding-top: 30px;
padding-bottom: 30px;
background-color: var(--main-color);
}

.team-title {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
  
}
.team-text {
  color: var(--additional-text);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.187;
  letter-spacing: 0.48px;
}










.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
  display: inline-block;
}
.logo-span {
  color: var(--main-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  
  display: inline-block;
}


.footer-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
  display: inline-block;
}
.footer-address{
  font-style: normal;
}

.footer-number {
  color: var(--footer-number);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  display: inline-block;
}
.footer-item{
  margin-bottom: 9px;
}
.footer-item:last-child{
  margin-bottom: 0px;
}
