.management {
    padding-top: 94px;

}

.management-list {
    display: flex;
    gap: 30px;
}

.management-item::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--team-background);
    margin-bottom: 30px;
    background-image: url(../img/antenna.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.management-item:nth-child(2)::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--team-background);
    margin-bottom: 30px;
    background-image: url(../img/clock.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.management-item:nth-child(3)::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--team-background);
    margin-bottom: 30px;
    background-image: url(../img/diagram.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.management-item:nth-child(4)::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--team-background);
    margin-bottom: 30px;
    background-image: url(../img/astronaut.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.management-item {
    flex-basis: calc((100% - 90px) / 4);
}

.management-title {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.management-text {
    color: var(--additional-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}