

    $logo-color: #000;
    $accent-color: #2196f3;
    $text-color: #212121;
    $additional-text: #757575;
    $main-color: #fff;
    $team-background: #f5f4fa;
    $footer-background: #2f303a;
    $border: #EEE;
    $footer-number: rgba(255, 255, 255, 0.6);
    $icon-border: #AFB1B8;
